#navbar {
  height: 1.5rem;
  width: 100vw;
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 99;
  padding: 0.5rem;
}

#navbar a {
  font-family: "Bebas Neue", cursive;
  color: #fff6da;
  font-size: 1.5rem;
  text-decoration: none;
  padding-left: 0.5rem;
  padding-right: 0.1rem;
  margin-right: 0.5rem;
  transition: all 0.5s ease-in-out;
}

#navbar a:hover {
  font-size: 1.3rem;
  box-shadow: 0.2rem -0.2rem #373b7e, 0.2rem 0 #373b7e;
}

#navbar input {
  height: 1.5rem;
}

.closed {
  display: none;
}

.open {
  display: inline;
}

.background {
  background-image: url(background_gradient.png);
  width: 100vw;
  height: 100vh;
  background-size: contain;
  overflow: hidden;
  position: relative;
}

.background-buildings {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: block;

  /*parallex stuff*/
}

#mid-building-img {
  filter: blur(0.5px);
  top: -100vh;
  left: 150px;
  transform: matrix(1.2, 0, 0, 1, 0, 0);
}

#back-building-img {
  left: 300px;
  transform: matrix(1.3, 0, 0, 1, 0, 0);
  filter: blur(1px);
}

#front-building-img {
  top: -200vh;
}

#tracks-img {
  position: relative;
  top: -300vh;
  width: 100vw;
  height: 100vh;
}

.train-title {
  bottom: -10vh;
  position: absolute;
  animation: linear infinite;
  animation-name: drive;
  animation-duration: 30s;
  overflow: hidden;
}

@keyframes drive {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

#title {
  position: relative;
  top: -20vh;
  font-family: "Bebas Neue", cursive;
  filter: drop-shadow(0 0 0.75rem #fff6da);
  font-size: 4rem;
  padding: 1rem;
  letter-spacing: 0.5rem;
  margin: 0;
}

body {
  margin: 0;
}

#projects {
  background-color: #373b7e;
}

#projects h2 {
  margin: 0;
  padding: 3rem;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-family: "Bebas Neue", cursive;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 45vh;
  width: 100vw;
}

.project {
  width: 15vw;
  height: 8vw;
  background-color: #696c9a;
  box-shadow: 1rem -1rem #070b34, 1rem 0 #070b34;
}

.project-img {
  width: 15vw;
  transition: all 0.5s ease-in-out;
}

.project-img:hover {
  filter: invert(1);
  transform: scale(0.9);
}
